[
  {
    title: "Finc Store"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/finc_store"
    ]
  }
  {
    title: "Online Works"
    paths: [
      "/Users/tomoki/repos/finc/online_works"
    ]
  }
  {
    title: "Form"
    group: "training"
    paths: [
      "/Users/tomoki/repos/training_projects/form"
    ]
  }
  {
    title: "Smart Errand"
    group: "mafia"
    paths: [
      "/Users/tomoki/repos/my_prod/smart_errand"
    ]
  }
  {
    title: "Playground"
    group: "test"
    paths: [
      "/Users/tomoki/repos/test/playground"
    ]
  }
  {
    title: "Health Analysis"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/health_analysis"
    ]
  }
  {
    title: "Try Media Client"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/try_media_client"
    ]
  }
  {
    title: "React Training"
    group: "training"
    paths: [
      "/Users/tomoki/repos/dev/practice/react_training"
      "/Users/tomoki/repos/dev/hackathon/AutoSchedulerClient"
    ]
  }
  {
    title: "Walking Events"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/walking_events"
    ]
  }
  {
    title: "Finc Point"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/finc_point"
    ]
  }
  {
    title: "Auto Scheduler Client"
    group: "hackathon"
    paths: [
      "/Users/tomoki/repos/dev/hackathon/AutoSchedulerClient"
    ]
  }
  {
    title: "Finc App Web Client"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/finc_app_web_client"
    ]
  }
  {
    title: "Requl Mobile"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/requl_mobile"
    ]
  }
  {
    title: "Auto Scheduler Server"
    group: "hackathon"
    paths: [
      "/Users/tomoki/repos/dev/hackathon/AutoSchedulerServer"
    ]
  }
  {
    title: "Fi Chat Client"
    group: "finc"
    paths: [
      "/Users/tomoki/repos/finc/FiChatClient"
    ]
  }
  {
    title: "Fever"
    group: "asobika"
    paths: [
      "/Users/tomoki/repos/fever-master"
    ]
  }
  {
    title: "Play with Go!"
    group: "test"
    paths: [
      "/Users/tomoki/code/go/src/test"
    ]
  }
]
